/* En Carrito.css */

.carrito-container {
    width: 100%;
    height: 100vh; 
    margin-top: 80px; 
    background-color: white; 
    z-index: 100; 
    top: 0; 
    left: 0; 
  }
  .producto-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    margin: 16px 16px;
    align-items: baseline;
  }
  .allvh{
    height: 50vh;
    margin-top: 10%;
  }