.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
  }
  
  .Formulario {
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    color: #1c0d02;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  .bg{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 768px) {
    .Formulario {
      padding: 40px;
    }
  }
  