.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
  }
  
  .Formulario {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  .bg{
    max-width: 500px;
  }
  
  @media (min-width: 768px) {
    .Formulario {
      padding: 40px;
    }
  }
  